/*index.html*/

/*Шрифты*/

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/*Общие стили*/

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  margin: 0;
}
img {
  display: block;
}
.visually-hidden {
  display: none;
}
ul {
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.big-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: black;
}
.link {
  color: black;
  text-decoration: none;
}
.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: black;
  text-transform: uppercase;
  background-color: #FFE17F;
  text-decoration: none;
  text-align: center;
}
.simple-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  white-space: nowrap;
}
.little-title {
  font-weight: 700;
  font-size: 24px;
}
.non-visible {
  visibility: hidden;
}

/*header*/

.page-header {
  margin: 40px 140px;
  margin-bottom: 0;
}
.search-on-site {
  font-size: 16px;
  line-height: 20px;
  color: black;
  background-color: #FFE17F;
}
.navigation {
  height: 300px;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #FFE17F;
}
.search-form {
  display: flex;
  align-items: center;
}
.search-on-site {
  width: 359px;
}
.navigation-list-user {
  display: flex;
  margin-left: 20px;
  gap: 50px;
}
.user-menu {
  display: flex;
}
.cart-list {
  display: flex;
  margin-left: auto;
  gap: 60px;
}
.navigation-link{
  text-align: center;
}
.title-container {
  display: flex;
  align-items: center;
}
.catalog-container {
  display: flex;
  justify-content: space-between;
}
.navigation-list-header {
  width: 480px;
  display: flex;
  justify-content: space-between;
}
.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.f-st-column{
  width: 230px;
  display: flex;
  flex-direction: column;
}
.s-nd-column {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: -89px 220px;
}
.t-rd-column {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: 28px 390px ;
}
.catalog-button {
  background: url("/images/catalog-icon.svg") no-repeat;
  width: 50px;
  height: 50px;
  border: none;
  margin-left: 15px;
}
.catalog-link {
  font-size: 16px;
  line-height: 18px;
}
.search-on-site-button {
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: black;
  background-color: #FFE17F;
}
.specification-table {
  gap: 12px;
}
.specification-meaning {
  font-size: 36px;
  color: black;
}
.specification-description {
  font-size: 16px;
}
.catalog-navigation-link {
  line-height: 24px;
  text-transform: none;
}

/*main*/

.number-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
.slider-number {
  font-weight: 700;
  font-size: 180px;
  width: 250px;
  height: 135px;
  color: #FFFFFF;
  margin-top: 60px;
}
.main-page {
  margin: 0 auto;
  flex-grow: 1;
}
.slider-and-description {
  display: flex;
  flex-direction: row;
  margin-left: 140px;
  margin-right: 140px;
}
.slider-button {
  width: 20px;
  height: 60px;
  align-self: center;
}
.left-button {
  background: url("/images/arrow-left.svg") no-repeat;
  border: none;
}
.right-button {
  background: url("/images/arrow-right.svg") no-repeat;
  border: none;
}
.slider {
  display: flex;
}
.first-slide-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
  margin-bottom: 40px;
  flex-grow: 1;
}
.slider-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-of-slides {
  display: flex;
}
.main-page-header {
  display: flex;
  flex-direction: row;
  margin-right: 140px;
  margin-left: 140px;
  margin-top: 70px;
}
.catalog-navigation {
  flex-grow: 1;
}
.catalog-navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-navigation-item {
  margin-right: 40px;
}
.delivery-garanty-credit {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 140px;
  margin-right: 140px;
}
.service-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
  margin-right: 125px;
  margin-bottom: 25px;
}
.service-button-current {
  background-color: black;
  color: #FFE17F;
}
.rare-product-delivery {
  display: flex;
  justify-content: space-between;
  margin: 70px 140px;
  background-color: #F0F0F0;
}
.rare-delivery-title {
  line-height: 23px;
  font-size: 20px;
  color: black;
}
.about-us-section {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 70px 140px;
}
.contacts-section {
  margin-left: 130px;
}
.delivery-methods-item {
  font-weight: 700;
  line-height: 20px;
  color: black;
}
.contacts-address-text {
  font-style: normal;
}
.contacts-phone {
  font-style: normal;
  color: inherit;
}
.subscribe-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}
.description-container {
  display: flex;
  flex-direction: row;
}
.subscribe-tittle {
  display: flex;
  margin-top: 64px;
  margin-left: 147px;
  margin-right: 252px;
  flex-wrap: wrap;
}
.subscribe-description {
  display: flex;
  flex-direction: row;
  margin-top: 74px;
  margin-right: 133px;
}
.subscribe-container {
  display: flex;
  flex-direction: row;
  margin: auto 140px;
  align-items: center;
}
.free-description {
  margin-left: auto;
}
.subscribe-button {
  background-color: #C4C4C4;
}
.subscribe-section {
  background-color: #F0F0F0;
}

/*footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #444444;
}
.contacts {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.page-footer .simple-title {
  color: #ffffff;
}
.address {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 62px;
  margin-bottom: 72px;
}
.page-footer-navigation {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 60px;
}
.navigation-list {
  width: 450px;
  display: flex;
  justify-content: space-between;
}
.footer-social-list-item-tel {
  background: url("/images/telegram-logo.svg") no-repeat;
  width: 40px;
  height: 40px;
}
.footer-social-list-item-yt {
  background: url("/images/you-tube-logo.svg") no-repeat;
  width: 40px;
  height: 40px;
}
.footer-social-list-item-tw {
  background: url("/images/twitter-logo.svg") no-repeat;
  width: 40px;
  height: 40px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.phone-number-and-html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  margin-top: 110px;
  margin-bottom: 65px;
}
.phone-number {
  width: 175px;
  display: flex;
  flex-direction: row;
}

/*catalog.html*/

/*header*/

.second-page .navigation {
  height: auto;
  padding-bottom: 30px;
}
.page-header {
  background-color: #ffffff;
}

/*main*/

.main-inner {
  margin-bottom: 0;
  background-color: #F0F0F0;
}
.main-inner-container {
  display: flex;
  flex-direction: row;
  margin-left: 140px;
  margin-right: 140px;
}
.title-and-breadcrumbs {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-top: 35px;
  margin-left: 60px;
  margin-right: 20px;
  margin-bottom: 35px;
}
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 36px;
}
.product-filtration {
  width: 320px;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
  gap: 60px;
  flex-wrap: wrap;
}
.catalog-filter {
  width: 139px;
  flex-grow: 1;
}
.catalog-filter-group {
  margin-bottom: 35px;
}
.card-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.sort {
  padding-left: 40px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
}
.product-card {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  flex-grow: 1;
}
.product-1-2-container {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 70px;
  gap: 40px;
}
.product-3-4-container {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 44px;
  gap: 40px;
}
.load-more-button-container {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 44px;
}
.load-more-button {
  flex-grow: 1;
}
.product-list-item {
  flex-grow: 1;
}
.catalog-himl-title {
  font-size: 16px;
  line-height: 19px;
  color: black;
}
.catalog-filter-group .product-card-link {
  color: black;
}
.control-input {
  font-size: 16px;
  line-height: 20px;
  color: black;
}
.select-control {
  border: none;
  background-color: #F0F0F0;
  margin-left: 250px;
  color: black;
}
.product-card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  line-height: 20px;
}
.product-card-title {
  margin: 0;
  width: 250px;
}
.product-description-container {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-card-price {
  line-height: 21px;
}
.product-card .catalog-himl-title {
  background-color: #E5E5E5;
}
.pagination {
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #EBEBEB;
  margin-top: 44px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
}
.pagination-link {
  font-size: 16px;
  color: #444444;
  line-height: 20px;
}
.pagination-item {
  margin-top: 25px;
  margin-bottom: 25px;
  flex-grow: 1;
}
.pagination-number-container {
  display: flex;
  flex-grow: 1;
  margin-left: 145px;
  margin-right: 145px;
}
.pagination-button {
  margin: 25px;
  color: #444444;
}
