/*index.html*/

/*Шрифты*/

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/*Общие стили*/

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  margin: 0;
}
img {
  display: block;
}
.visually-hidden {
  display: none;
}
ul {
  list-style-type: none;
}
.big-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: black;
}
.link {
  color: black;
  text-decoration: none;
}
.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: black;
  text-transform: uppercase;
  background-color: #FFE17F;
  text-decoration: none;
  text-align: center;
}
.simple-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  white-space: nowrap;
}
.little-title {
  font-weight: 700;
  font-size: 24px;
}

/*header*/

.page-header {
  margin: 0 140px;
  margin-bottom: 0;
}
.search-on-site {
  font-size: 16px;
  line-height: 20px;
  color: black;
  background-color: #FFE17F;
}
.navigation {
  display: flex;
  width: 1200px;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin: 0 auto;
  background-color: #FFE17F;
}
.search-form {
  display: flex;
  align-items: center;
}
.search-on-site {
  width: 359px;
}
.navigation-list-user {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.user-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 60px;
  width: 1040px;
}
.compare {
  margin-right: 61px;
  margin-left: auto;
}
.navigation-link{
  text-align: center;
}
.title-container {
  display: flex;
  flex-direction: row;
}
.catalog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 60px;
  width: 1040px;
}
.navigation-list-header {
  width: 480px;
  display: flex;
  justify-content: space-between;
}
.catalog {
  width: 1160px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 30px;
}
.f-st-column{
  width: 230px;
  display: flex;
  flex-direction: column;
}
.s-nd-column {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: -89px 220px;
}
.t-rd-column {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: 28px 390px ;
}
.catalog-button {
  background: url("/images/catalog-icon.svg") no-repeat;
  width: 50px;
  height: 50px;
  border: none;
  margin-left: 15px;
}
.catalog-link {
  font-size: 16px;
  line-height: 18px;
}
.search-on-site-button {
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: black;
  background-color: #FFE17F;
}
.specification-table {
  gap: 12px;
}
.specification-meaning {
  font-size: 36px;
  color: black;
}
.specification-description {
  font-size: 16px;
}
.catalog-navigation-link {
  line-height: 24px;
  text-transform: none;
}

/*main*/

.number {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  margin-left: 900px;
}
.slider-number {
  font-weight: 700;
  font-size: 180px;
  width: 250px;
  height: 135px;
  color: #FFFFFF;
  margin: 0 auto;
}
.main-page {
  width: 1440px;
  margin: 0 auto;
  flex-grow: 1;
}
.service-button-current {
  background-color: black;
  color: #FFE17F;
}
.rare-delivery-title {
  line-height: 23px;
  font-size: 20px;
  color: black;
}
.delivery-methods-item {
  font-weight: 700;
  line-height: 20px;
  color: black;
}
.contacts-address-text {
  font-style: normal;
}
.contacts-phone {
  font-style: normal;
  color: inherit;
}
.subscribe-button {
  background-color: #C4C4C4;
}
.subscribe-section {
  background-color: #F0F0F0;
}

/*footer*/

.page-footer {
  width: 100%;
  height: 321px;
  display: flex;
  flex-direction: row;;
  padding: 0 140px;
  background-color: #444444;
}
.contacts {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.page-footer .simple-title {
  color: #ffffff;
}
.address {
  display: flex;
  flex-direction: column;
  margin: 62px 140px;
}
.page-footer-navigation {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation-list {
  width: 450px;
  display: flex;
  flex-direction: row;
}

/*catalog.html*/

/*header*/

/*main*/

.main-inner {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  background-color: #F0F0F0;
}
.product-card {
  background-color: #FFFFFF;
}
.catalog-himl-title {
  font-size: 16px;
  line-height: 19px;
  color: black;
}
.catalog-filter-group .product-card-link {
  color: black;
}
.control-input {
  font-size: 16px;
  line-height: 20px;
  color: black;
}
.select-control {
  color: black;
}
.product-card-link {
  font-weight: 700;
  line-height: 20px;
}
.product-card-price {
  line-height: 21px;
}
.product-card .catalog-himl-title {
  background-color: #E5E5E5;
}
.pagination {
  background-color: #EBEBEB;
}
.pagination-link {
  font-size: 16px;
  color: #444444;
  line-height: 20px;
}
.pagination-prev {
  color: #444444;
}
