/*index.html*/

/*Шрифты*/

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/*Общие стили*/

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  margin: 0;
}
img {
  display: block;
}
.visually-hidden {
  display: none;
}
ul {
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.big-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 35px;
  color: black;
}
.link {
  color: black;
  text-decoration: none;
}
.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: black;
  text-transform: uppercase;
  background-color: #FFE17F;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.simple-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}
.little-title {
  font-weight: 700;
  font-size: 24px;
}
.non-visible {
  visibility: hidden;
}
svg {
  margin-right: 12px;
}
.slide-button {
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  width: 12px;
  height: 12px;
}
.slide-item:not(:last-of-type) {
  margin-right: 20px;
}
.slide-button-current {
  background-color: black;
}
.catalog-navigation-item {
  width: 160px;
  height: 250px;
}
.catalog-svg {
  background-color: #FFE17F;
  margin-bottom: 33px;
}
/*header*/

.page-header {
  margin: 40px 140px;
  margin-bottom: 0;
}
.search-on-site {
  font-size: 16px;
  line-height: 20px;
  color: black;
  background-color: #FFE17F;
  border-right: none;
  background-image: url('../images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
}
.navigation {
  height: 270px;
  width: 1040px;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #FFE17F;
}
.search-form {
  display: flex;
  align-items: center;
}
.search-on-site {
  padding-left: 40px;
  height: 40px;
  width: 359px;
}
.navigation-list-user {
  display: flex;
  margin-left: 20px;
  gap: 30px;
}
.user-menu {
  display: flex;
}
.cart-list {
  display: flex;
  margin-left: auto;
  gap: 15px;
}
.navigation-link {
  text-align: center;
}
.title-container {
  display: flex;
  align-items: center;
}
.catalog-container {
  display: flex;
  justify-content: space-between;
}
.navigation-list-header {
  width: 480px;
  display: flex;
  justify-content: space-between;
}
.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.f-st-column{
  width: 230px;
  display: flex;
  flex-direction: column;
}
.s-nd-column {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: -89px 220px;
}
.t-rd-column {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: 28px 390px ;
}
.catalog-button {
  background: url("/images/catalog-icon.svg") no-repeat;
  width: 50px;
  height: 50px;
  border: none;
  margin-left: 15px;
}
.catalog-link {
  font-size: 16px;
  line-height: 18px;
}
.search-on-site-button {
  height: 40px;
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: black;
  background-color: #FFE17F;
  text-transform: none;
}
.specification-table {
  gap: 12px;
}
.specification-meaning {
  font-size: 36px;
  color: black;
}
.specification-description {
  font-size: 16px;
}
.catalog-navigation-link {
  line-height: 24px;
  text-transform: none;
}

/*main*/

.navigation-logo-header {
  position: absolute;
  top: 20px;
}
.number-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
.slider-number {
  font-weight: 700;
  font-size: 180px;
  width: 250px;
  height: 135px;
  color: #FFFFFF;
  margin-top: 60px;
}
.main-page {
  margin: 0 auto;
  max-width: 1440px;
  flex-grow: 1;
}
.slider-and-description {
  display: flex;
  flex-direction: row;
  margin-left: 140px;
  margin-right: 140px;
}
.slider-button {
  width: 20px;
  height: 60px;
  align-self: center;
}
.left-button {
  background: url("/images/arrow-left.svg") no-repeat;
  border: none;
}
.right-button {
  background: url("/images/arrow-right.svg") no-repeat;
  border: none;
}
.slider {
  display: flex;
}
.first-slide-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
  margin-bottom: 40px;
  flex-grow: 1;
}
.slider-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-of-slides {
  display: flex;
}
.main-page-header {
  display: flex;
  flex-direction: row;
  margin-right: 140px;
  margin-left: 140px;
  margin-top: 70px;
}
.catalog-navigation {
  flex-grow: 1;
}
.catalog-navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-navigation-item {
  max-width: 160px;
}
.delivery-garanty-credit {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 140px;
  margin-right: 140px;
}
.service-description {
  display: flex;
  flex-direction: row;
}
.deliveri-description {
  margin-right: 110px;
}
.delivery-icon {
  margin-top: 60px;
}
.service-button-current {
  width: 280px;
}
.service-button {
  width: 160px;
  border: none;
  margin-right: 120px;
}
.service-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
  margin-right: 125px;
  margin-bottom: 25px;
}
.service-button-current {
  background-color: black;
  color: #FFE17F;
}
.rare-product-delivery {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 70px;
  background-color: #F0F0F0;
}
.rare-delivery-title {
  margin-top: 45px;
  line-height: 23px;
  font-size: 20px;
  color: black;
}
.rare-product-delivery-link {
  background-color: #FFE17F;
}
.rare-product-delivery-icon {
  margin: 40px 40px 30px 42px;
}
.faq-icon {
  margin: 35px 42px 30px 42px;
}
.about-us-section {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 70px 140px;
}
.delivery-methods-item {
  margin-bottom: 25px;
  list-style: inside;
}
.contacts-section {
  margin-left: 130px;
}
.delivery-methods-item {
  font-weight: 700;
  line-height: 20px;
  color: black;
}
.contacts-address-text {
  font-style: normal;
}
.contacts-phone {
  font-style: normal;
  color: inherit;
}
.subscribe-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.description-container {
  display: flex;
  flex-direction: row;
}
.subscribe-tittle {
  display: flex;
  margin-top: 64px;
  margin-left: 147px;
  margin-right: 252px;
  margin-bottom: 144px;
  flex-wrap: wrap;
}
.email-field {
  width: 560px;
  height: 55px;
  margin-bottom: 55px;
  margin-right: 0;
  background-color: #F0F0F0;
  border: none;
  border-bottom: 2px solid black;
}
.subscribe-button {
  width: 250px;
  height: 60px;
  margin-left: 0;
}
.subscribe-description {
  display: flex;
  flex-direction: row;
  margin-top: 74px;
  margin-right: 140px;
}
.subscribe-container {
  display: flex;
  flex-direction: row;
  margin: auto 140px;
  align-items: center;
}
.free-description {
  width: 160px;
  padding-left: 20px;
  margin-left: auto;
  margin-bottom: 70px;
  background-image: url('../images/tick-big.svg');
  background-repeat: no-repeat;
  background-position: 0 center;
}
.subscribe-button {
  background-color: #F0F0F0;
}
.subscribe-section {
  background-color: #F0F0F0;
}

/*footer*/

.page-footer {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #444444;
}
.contacts {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.page-footer .simple-title {
  color: #ffffff;
}
.address {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 62px;
  margin-bottom: 72px;
}
.page-footer-navigation {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 60px;
}
.navigation-list {
  width: 450px;
  display: flex;
  justify-content: space-between;
}
.footer-social-list-item-tel {
  background: url("../images/telegram-logo.svg") no-repeat;
  width: 40px;
  height: 40px;
}
.footer-social-list-item-yt {
  background: url("../images/you-tube-logo.svg") no-repeat;
  width: 40px;
  height: 40px;
}
.footer-social-list-item-tw {
  background: url("../images/twitter-logo.svg") no-repeat;
  width: 40px;
  height: 40px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.phone-number-and-html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  margin-top: 110px;
  margin-bottom: 65px;
}
.phone-number {
  width: 175px;
  display: flex;
  flex-direction: row;
}

/*catalog.html*/

/*header*/

.second-page .navigation {
  height: auto;
  padding-bottom: 30px;
}
.page-header {
  background-color: #ffffff;
}

/*main*/

.main-inner {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #F0F0F0;
}
.main-inner-container {
  display: flex;
  flex-direction: row;
  margin-left: 140px;
  margin-right: 140px;
}
.title-and-breadcrumbs {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 200px;
}
.main-title-container {
  background-color: #FFFFFF;
}
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 36px;
}
.vector {
  margin-left: 35px;
}
.product-filtration {
  width: 320px;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
}
.catalog-filter {
  width: 135px;
  flex-grow: 1;
}
.filter-button {
  border: none;
  width: 140px;
}
.catalog-filter-group {
  margin-bottom: 35px;
  border: none;
}
.card-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.sort {
  padding-left: 40px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
}
.page-next {
  margin-left: auto;
}
.page-last {
  margin-right: 30px;
}
.product-card {
  width: auto;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 70px;
  justify-content: space-between;
  background-color: #FFFFFF;
  flex-wrap: wrap;
  flex-grow: 1;
}
.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 0;
  margin-bottom: 44px;
}
.load-more-button-container {
  display: flex;
  flex-grow: 1;
}
.load-more-button {
  border-color: #968a8a;
  background-color: #ffffff;
  flex-grow: 1;
}
.product-list-item {
  flex-grow: 1;
}
.catalog-himl-title {
  font-size: 16px;
  line-height: 19px;
  color: black;
}
.catalog-filter-group .product-card-link {
  color: black;
}
.control-input {
  font-size: 16px;
  line-height: 20px;
  color: black;
}
.select-control {
  border: none;
  background-color: #F0F0F0;
  margin-left: 250px;
  color: black;
}
.product-card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  line-height: 20px;
}
.product-card-title {
  margin: 0;
  width: 250px;
}
.product-description-container {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-card-price {
  line-height: 21px;
}
.product-card .catalog-himl-title {
  background-color: #E5E5E5;
}
.pagination {
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #EBEBEB;
  margin-top: 44px;
  margin-bottom: 80px;
}
.pagination-container {
  flex-grow: 1;
}
.pagination-link {
  font-size: 16px;
  color: #444444;
  line-height: 20px;
}
.pagination-item {
  margin-top: 25px;
  margin-bottom: 25px;
  flex-grow: 1;
}
.pagination-number-container {
  display: flex;
  flex-grow: 1;
  margin-left: 145px;
  margin-right: 145px;
}
.pagination-button {
  margin: 25px;
  color: #444444;
}
.logo:hover {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.4;
}
logo:focus {
  border: 1px solid #AF4FFF;
}
.control-input:hover {
  opacity: 0.6;
}
.control-input:active {
  opacity: 0.4;
}
.control-input:active {
  border: 1px solid #AF4FFF;
}
.subscribe-button:hover {
  background-color: #000000;
  color: white;
}
.subscribe-button:active {
  background-color: #000000;
  color: #b4b0b0;
}
.subscribe-button:focus {
  border: 1px solid #AF4FFF;
}
.load-more-button:hover {
  border-color: #000000;
}
.load-more-button:active {
  opacity: 0.4;
}
.load-more-button:focus {
  border: 1px solid #AF4FFF;
}
.product-button:hover {
  background-color: #FFE17F;
}
.product-button:active {
  background-color: #FFCC33;
}
.product-button:focus {
  border: 1px solid #AF4FFF;
}
.select-control:hover {
  opacity: 0.6;
}
.select-control:active {
  opacity: 0.4;
}
.select-control:focus {
  border: 1px solid #AF4FFF;
}
.email-field:hover {
  background-color: #DCDCDC;
}
.email-field:focus {
  border: 1px solid #AF4FFF;
}
.search-on-site-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.search-on-site-button:active {
  background-color: #000000;
  color: #858585;
}
.footer-social-list-item-tel:hover {
  background-color: #FFC700;
  border-radius: 60%;
}
.footer-social-list-item-yt:hover {
  background-color: #FFC700;
  border-radius: 60%;
}
.footer-social-list-item-tw:hover {
  background-color: #FFC700;
  border-radius: 60%;
}
.footer-social-list-item-tel:active {
  background-color: #927200;
  border-radius: 60%;
}
.footer-social-list-item-yt:active {
  background-color: #927200;
  border-radius: 60%;
}
.footer-social-list-item-tw:active {
  background-color: #927200;
  border-radius: 60%;
}
.footer-title:hover {
  color: #FFC700;
  border-bottom: 1px solid #FFC700;
}
.footer-title:active {
  color: #927200;
  border-bottom: 1px solid #927200;
}
.footer-title:active {
  border: 1px solid #AF4FFF;
}
.contacts-phone:hover {
  color: #FFC700;
}
.contacts-phone:active {
  color: #927200;
}
.contacts-phone:focus {
  border: 1px solid #AF4FFF;
}
.html-logo:hover {
  fill: #F0F0F0;
}
.html-logo:active {
  fill: #8a8a8a;
}
.catalog-svg:hover {
  background-color: #FFC700;
}
.catalog-svg:active {
  opacity: 0.4;
}
.del-svg:hover {
  background-color: #FFC700;
}
.del-svg:active {
  opacity: 0.4;
}
.product-card-link {
  margin-top: 15px;
}
.catalog-filter-group {
  border-top: 2px solid black;
}
